.dropdown-menu {
    position: absolute;
    display: none;
}

.dropdown-menu li :hover {
    background: #b7c916;
}

.Account-button:hover ul.dropdown-menu {
    display: block;
}

/* next button CSS */
.dropdown-menu {
    position: absolute;
    display: none;
}

.dropdown-menu dl :hover {
    background: #b7c916;
}

.BUTTON:hover .UL.dropdown-menu {
    display: block;
}

.Box {

    box-shadow: 5px 5px 10px gray
}

.BOXX {

    box-shadow: 2px 2px 10px gray
}

.BOX1 {
    border: 1px solid rgb(215, 209, 209);
    border-radius: 5px;

}

.PHOTO {
    overflow: hidden;
    height: 180px;
}

.PHOTO:hover img {
    transform: scale(1.04);
}

.SCROOL {
    overflow-x: scroll;
    width: 1200px;
    overflow-y: hidden;
}

.FOOTER {
    font-size: 14px;
    font-weight: 600;
}

#button {
    border-radius: 50px;
}

.LAST {
    font-size: 12px;
    font-weight: 600;
}

#rightscrool {
    overflow-y: scroll;
    height: 630px;
    overflow-y: 0px;
}

#rightscrool::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#container {
    overflow-x: scroll;
    overflow-y: hidden;

    /* Styling */
    height: 300px;
}
#container2 {
    overflow-x: scroll;
    overflow-y: hidden;

    /* Styling */
    height: 400px;
}

#objects {
    /*   width: auto; */
    white-space: nowrap;

    /* Styling */

    height: 250px;
}

.object {
    display: inline-block;

    /* Styling */

    border: 1px solid white;
    width: 250px;
    height: 250px;
}
#container::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}
#container2::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}
.PRODUCT {
    border: 1px solid rgb(215, 209, 209);
    border-radius: 5px;
    height: 95%;
}
.scrool {
    overflow-y: scroll;
    height: 600px;
}

.scrool::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera  ★*/
}
